@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}
// ### Primary

$desaturated-dark-cyan: hsl(180, 29%, 50%);

// ### Neutral

// (Background)
$light-grayish-cyan : hsl(180, 52%, 96%);
// (Filter Tablets)
$light-grayish-cyan-tablets : hsl(180, 31%, 95%);
$dark-grayish-cyan: hsl(180, 8%, 52%);
$very-dark-grayish-cyan: hsl(180, 14%, 20%);

.featured-job {
    border-left: 4px solid $desaturated-dark-cyan;
}

.job-container {
    font-size: 14px;
    background-color: white;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.8);

    .desktop-company-image {
        display: none;
    }

    .job-position {
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
            color: $desaturated-dark-cyan;
        }
    }

    @include desktop {

        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;
        gap: 1rem;

        .desktop-left {
            display: flex;
            gap: 1rem;

            .desktop-company-image 
            {
                display: block;
            }
    
            .desktop-left-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }


    .job-misc {
        color: $dark-grayish-cyan;
        font-weight: 400;
        display: flex;
        gap: .5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $dark-grayish-cyan;

        @include desktop {
            border-bottom: none;
        }
    }

    .job-keywords {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: min-content min-content min-content;
        column-gap: 1rem;
        row-gap: 1.2rem;

        .keyword {
            width: fit-content;
            padding: .5rem;
            border-radius: 5px;
            background-color: $light-grayish-cyan-tablets;
            color: $desaturated-dark-cyan;
            cursor: pointer;
            transition: all .3s ease-in-out;
            // width: fit-content;

            &:hover {
                background-color: $desaturated-dark-cyan;
                color: white;
            }
        }

        @include desktop {
            display: flex;
            gap: 1rem;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 0;
        }
    }
}


.job-header {
    position: relative;
    margin-bottom: 1rem;

    @include desktop {
        margin-bottom: 0.5rem;
    }

    img {
        position: absolute;
        width: 30px;
        top: -37px;
        @include desktop {
            display: none;
        }
    }

    font-size: 14px;

    .company-name {
        color: $desaturated-dark-cyan;
    }

    .new {
        background-color: $desaturated-dark-cyan;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        margin-left: 10px;
    }

    .featured {
        background-color: $very-dark-grayish-cyan;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        margin-left: 10px;
    }
}