// ## Colors

// ### Primary

$desaturated-dark-cyan: hsl(180, 29%, 50%);

// ### Neutral

// (Background)
$light-grayish-cyan : hsl(180, 52%, 96%);
// (Filter Tablets)
$light-grayish-cyan : hsl(180, 31%, 95%);
$dark-grayish-cyan: hsl(180, 8%, 52%);
$very-dark-grayish-cyan: hsl(180, 14%, 20%);

@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}

header {
    background-image: url(/bg-header-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
    background-color: $desaturated-dark-cyan;

    @include desktop {
        background-image: url(/bg-header-desktop.svg);
    }

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    ul.container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
        width: 86%;
    }
}

